*{
    margin: 0;
    padding: 0;
    font-family: 'Hachi Maru Pop', cursive;
}
.box{
    width: 30%;
    height: 300px;
    border: 3px solid #000;
    float: left;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
}
h1{
    text-decoration: underline;
}